.Bar {
    background-color: white;
}

.LogoImage {
    width: 50px;
    max-width: 100%;
    height: auto;
}

.Logo {
    font-size: 3em;
    font-family: 'Cormorant', cursive;
    color: #3CC3BD;
    justify-content: space-between;
}

.Logout {
    font-size: 3em;
    color: #3CC3BD;
}